
<html lang="en">
<body>
    <header>
        <div>
            <input type="text" id="client_search" placeholder="Pesquisa por nome de Cliente">
            <button type="button" id="search_btn" class="btn">Pesquisar</button>
        </div>
        <div>
            <button type="button" class="btn" id="new_client">Novo Cliente</button>
        </div>
        
    </header>
    <div id="content_box">
        <table >
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF/CNPJ</th>
                <th>Endereço</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Configurações</th>
            </tr>
            <tbody id="clientTable">
                
            </tbody>
        </table>
    </div>
    
</body>
</html>