
<html lang="en">
<body>
    <header>
        <select name="client_select" id="client_select">
            <option value="">Selecione o Cliente</option>
        </select>
        <div>
            <button type="button" class="btn" id="new_dentist">Novo Dentista</button>
        </div>
        
    </header>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Configurações</th>
            </tr>
        </table>
    </div>
    
</body>
</html>