<html lang="en">
<body>
    <header>
        <div>
            <select name="note_client" id="note_client">
                <option value="">Selecione o Cliente</option>
            </select>
            <input type="number" id="notes_ID_search" placeholder="Pesquisa por Numero de Nota">
            <button type="button" id="search_btn" class="btn">Pesquisar</button>
        </div>
        <div>
            <button type="button" class="btn" id="new_note">Nova Nota</button>
        </div>
        
    </header>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>ID Cliente</th>
                <th>Nome Cliente</th>
                <th>Valor Total</th>
                <th>Data</th>
                <th>Configurações</th>
            </tr>
            <tbody id="noteTable">

            </tbody>
        </table>
    </div>
    
</body>
</html>