<html lang="en">
<body>
    <header>
        <div>
            <input type="text" id="notes_client_search" placeholder="Pesquisa por nome de Cliente">
            <input type="number" id="notes_ID_search" placeholder="Pesquisa por Numero de Nota">
            <label for="search_date_start">Inicio</label>
            <input type="date" id="search_date_start">
            <label for="search_date_end">Fim</label>
            <input type="date" id="search_date_end">
            <button type="button" id="search_btn" class="btn">Pesquisar</button>
        </div>
        <div>
            <button type="button" class="btn" id="new_note">Nova Nota</button>
        </div>
        
    </header>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>ID Cliente</th>
                <th>Nome Cliente</th>
                <th>Valor Total</th>
                <th>Data</th>
                <th>Configurações</th>
            </tr>
        </table>
    </div>
    
</body>
</html>