
<html>
<body>
    <header>
        <div>
            <select name="client_prices" id="client_prices">
                <option value="">Selecione o Cliente</option>
            </select>
        </div>
        <div>
            <button type="button" class="btn" id="new_client">Novo Cliente</button>
        </div>
        
    </header>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>ID Tipo</th>
                <th>Descrição</th>
                <th>Valor Unitário</th>
                <th>Configurações</th>
            </tr>
        </table>
    </div>
</body>
</html>