
<html>
<body>
    <div id="content_box">
        <header>
        <div>
            <select name="client_prices" id="client_prices">
                <option value="">Selecione o Cliente</option>
            </select>
        </div>
        <div>
            <button type="button" class="btn" id="new_price">Novo Preço</button>
        </div>
            
        </header>
        <div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>ID Cliente</th>
                    <th>ID Tipo</th>
                    <th>Valor Unitário</th>
                    <th>Configurações</th>
                </tr>
                <tbody id="priceTable">
                    
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>