<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Preços</title>
</head>
<body>
    <div id="prices_form">
        <select name="prices_client" id="prices_client">
            <option value="">Selecione o Cliente</option>
        </select>
        <select name="prices_work_type" id="prices_work_type">
            <option value="">Selecione o Trabalho</option>
        </select>
        <label for="prices_unit">Valor Unitário:</label>
        <input type="number" id="prices_unit">
    </div>
    <footer>
        <button type="submit" class="btn" id="prices_submit">Cadastrar Novo Preço</button>
    </footer>
    <script src="../JS/register_prices.js"></script>
</body>
</html>