<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Novo pagamento</title>
</head>
<body class="modal">
        <div id="note_form">
            <select name="note_paid" id="note_paid">
                <option value="">Selecione a nota</option>
            </select>
            <button type="button" class="btn" id="paid_submit">Registrar Pagamento</button>
        </div>
        <div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>ID Cliente</th>
                    <th>Cliente</th>
                    <th>Dentista</th>
                    <th>Paciente</th>
                    <th>ID Tipo</th>
                    <th>Tipo de Trabalho</th>
                    <th>Nº do Dente</th>
                    <th>Quantidade</th>
                    <th>Valor Unitário</th>
                    <th>Valor Total</th>
                    <th>Data</th>
                    <th>Cobrança</th>
                    <th>Configurações</th>
                </tr>
                <tbody id="register_paid_table">

                </tbody>
            </table>
            
        </div>
    </body>
    <script src="../JS/register_paid.js"></script>
</html>