<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Tipo de Trabalho</title>
</head>
<body>
    <div id="work_types_form">
        <input type="text" id="description" placeholder="Descrição do Tipo de Trabalho">
    </div>
    <footer>
        <button type="submit" class="btn" id="work_type_submit">Cadastrar Tipo de Trabalho</button>
    </footer>
    <script src="../JS/register_work_types.js"></script>
</body>
</html>