<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Clientes</title>
</head>
<body>
    <header>
        <select name="client_select" id="client_select">
            <option value="">Selecione o Cliente</option>
        </select>
    </header>

    <div id="dentist_form" class="dentist_form">
        <input type="text" id="dentist_name" placeholder="Nome do Dentista">
        <input type="text" id="dentist_fone" placeholder="Telefone">
    </div>
    
    <footer>
        <button type="submit" class="btn" id="dentist_submit">Cadastrar Cliente</button>
    </footer>
    <script src="../JS/register_dentist.js"></script>
</body>
</html>