<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Clientes</title>
</head>
<body>

    <div id="dentist_form">
        <input type="text" id="client_name_dentist" placeholder="Nome do Cliente">
        <input type="text" id="client_cpf_dentist" placeholder="CPF/CNPJ">
        <input type="text" id="client_address_dentist" placeholder="Endereço">
        <input type="text" id="client_fone_dentist" placeholder="Telefone">
        <input type="text" id="client_email_dentist" placeholder="E-mail">
    </div>
    <footer>
        <button type="button" class="btn" id="client_submit">Cadastrar Cliente</button>
    </footer>
    <script src="../JS/register_client.js"></script>
</body>
</html>