<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Nova Nota</title>
</head>
<body>
        <div id="note_form">
            <select name="note_client" id="note_client">
                <option value="">Selecione o Cliente</option>
            </select>
            <button type="button" class="btn" id="note_submit">Fechar Nota</button>
        </div>
        <div>
            <table id="register_notes_table">
                <tr>
                    <th>ID</th>
                    <th>ID Cliente</th>
                    <th>Nome Cliente</th>
                    <th>Nome Paciente</th>
                    <th>Tipo de Trabalho</th>
                    <th>Quantidade</th>
                    <th></th>
                    <th>Valor Unitario</th>
                    <th>Valor Total</th>
                    <th>Data</th>
                </tr>
            </table>
        </div>
    </body>
    <script src="../JS/register_notes.js"></script>
</html>