<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <title>Laboratory</title>
  </head>
  <body class="p-r bg">
    <header>
      <div id="head" class="box">
        <div id="menu-btn-box" class="box-p">
          <button type="button" id="menu-btn">
            <p class="btn">00:00:00</p>
          </button>
        </div>
        <div id="logo">
          <img src="./images/Brain.png" alt="logo Laboratory Brain" />
        </div>
        <div id="void-box" class="box-p"></div>
      </div>
    </header>
    
    <div class="main-box">
      <aside>
      <nav id="nav" class="nav">
        
        <div class="btn-nav p-m" id="works">
          <img src="images/job-promotion.png" alt="" /><a href="#"
            >Trabalhos</a
          >
        </div>
        <div class="btn-nav p-m" id="clients">
          <img src="images/adicionar-usuario.png" alt="" /><a href="#"
            >Clientes</a
          >
        </div>
        <div class="btn-nav p-m" id="prices">
          <img src="images/job-promotion (1).png" alt="" /><a href="#"
            >Preços</a
          >
        </div>
        <div class="btn-nav p-m" id="work_types">
          <img src="images/job-promotion (1).png" alt="" /><a href="#"
            >Tipos de Trabalhos</a
          >
        </div>
        <div class="btn-nav p-m" id="notes">
          <img src="images/fatura.png" alt="" /><a href="#">Notas</a>
        </div>
      </nav>
    </aside>
    <main id="content" class="box"></main>
    </div>
    
    <script type="module" src="renderer.js"></script>
  </body>
</html>
